.times-new-roman-font {
    font-size: 40px;
    color: red;
    font-family: 'Times New Roman';
}

.arial-font {
    font-size: 36px;
    color: blue;
    font-family: 'Arial';
}

.courier-font {
    font-size: 32px;
    color: green;
    font-family: 'Courier New';
}